.button {
    background-color: #E75F50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    width: 128px;
    height: 128px;
}

.centered {
	text-align: center;
}

body {
	background-color: #838BA7;
}